<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Top Peaks Development</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='interal_pages/test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='interal_pages/dashboard_css.css') }} ">
    <link rel="stylesheet" href="/static/dashboard_css.css">
    <link rel="stylesheet" href="/static/test.css.css">
</head>
<body>
    <div class="main_container">
        <div class="nav_container">
            <div class="logo"> <span class="logo_part_1">TOP PEAKS</span> <br> <span class="logo_part_2">DEVELOPMENT</span></div>
            <div class="link_Container">
                <a class="btn blog" href="/blogs">Blog</a>
                <a class="datacenter btn" href="/data-center-solutions">Datacenter Solutions</a>
                <a class="softwaredev btn" href="/software-solutions">Software Development Center</a>
                <a class="webdev btn" href="/web-development-solutions">Web Development Center</a>
                <a class="cybersec btn" href="/cyber-solutions">Cybersecurity Solutions</a>
            </div>
        </div>

        <!--
        <div class="navContainerTpd">
            <a href="" class="contact btnTpd">Contact</a>
            <a href="" class="products btnTpd">Products</a>
            <a href="" class="projects btnTpd">Projects</a>
            <a href="" class="tools btnTpd">Tools</a>
            <a href="" class="config btnTpd">Config</a>
        </div>
        -->
        
        <div class="main-con-dash">


        </div>
    </div>
    
</body>
</html>