<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_001.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='new_001.css') }}">
    
</head>
<body>

    <div class="main_container">
        <a href="/dashboard" class="tv_show">Tv Shows</a>
        <a href="/logout" class="logout">Logout</a>
        <div class="form_container">
            <form action="/new_process" class="new_show" method="post">
                    <label for="">Title</label>
                    <input type="text" class="" name="title">
                    <label for="">Network</label>
                    <input type="text" class="" name="network">
                    <label for="">Release Date</label>
                    <input type="date" name="release_date" id="">
                    <label for="">Description</label>
                    <textarea name="description" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="error_messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>