<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balancesheet | Top Peaks Development</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='balance_sheet_css.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='css_001.css') }} ">
</head>
<body>
    <div class="main_container">
        <div class="nav_container">
            <div class="logo"> <span class="logo_part_1">TOP PEAKS</span> <br> <span class="logo_part_2">DEVELOPMENT</span></div>
            <div class="link_Container">
                <a class="btn blog" href="/blogs">Blog</a>
                <a class="datacenter btn" href="/data-center-solutions">Datacenter Solutions</a>
                <a class="softwaredev btn" href="/software-solutions">Software Development Center</a>
                <a class="webdev btn" href="/web-development-solutions">Web Development Center</a>
                <a class="cybersec btn" href="/cyber-solutions">Cybersecurity Solutions</a>
            </div>
        </div>

        <div class="navContainerTpd">

            <a href="/Dashboard" class="contact btnTpd">Dashboard</a>
            <a href="/Login_=&%" class="contact btnTpd">Balancesheet</a>

        </div>
        
        
        <div class="main-con-dash">
            <div class="button_container">
                <button>Earnings</button>
                <button>Assets</button>
                <button>Reciepts</button>
                <button>Liabilities</button>
                <button>Fixed Expenses</button>
                <button>Variable Expenses</button>
                <button>Transportation</button>
            </div>

            <div class="panel_container">
                    <table class="earnings">
                        <thead>
                            <th>Date</th>
                            <th>Earned</th>
                            <th>Payment Type</th>
                            <th>City Tax</th>
                            <th>State Tax</th>
                            <th>Federal Tax</th>
                            <th>Edit</th>
                        </thead>
                    </table>
            </div>

            <div class="panel_container">
                <form action="" class="earning_input">
                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>
                    
                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>
                </form>
            </div>

            <div class="panel_container">
                <table class="assets">
                    <thead>
                        <th>Date Aquired</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Warranty</th>
                        <th>Unit Value</th>
                        <th>Qauntity</th>
                        <th>Value</th>
                        <th>Model</th>
                        <th>Serial Number</th>
                    </thead>
                </table>
            </div>


            <div class="panel_container">
                <form action="" class="earning_input">
                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>
                    
                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>
                </form>
            </div>

            <div class="panel_container">
                <table class="reciepts">
                    <thead>
                        <th>Date</th>
                        <th>Amount Paid</th>
                        <th>Payment Type</th>
                        <th>Items</th>
                        <th>City Tax</th>
                        <th>State Tax</th>
                        <th>Federal Tax</th>
                        <th>Transaction Id</th>
                        <th>Business Name</th>
                        <th>Business Point of Contact</th>
                        <th>Business Address</th>
                    </thead>
                </table>
            </div>


            <div class="panel_container">
                <form action="" class="earning_input">
                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>

                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>
                    
                    <div class="input_container">
                        <label for=""></label>
                        <input type="text">
                    </div>
                </form>
            </div>

            <div class="panel_container">
                <table class="liabilities">
                    <thead>
                        <th>Date Acquired</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Warranty</th>
                        <th>Unit Value</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>Model</th>
                        <th>Serial Number</th>
                    </thead>
                </table>
        </div>


        <div class="panel_container">
            <form action="" class="earning_input">
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
                
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
            </form>
        </div>


        <div class="panel_container">
            <table class="fixed_expenses">
                <thead>
                    <th>Due Date</th>
                    <th>Payment Amount</th>
                    <th>Date Start</th>
                    <th>Payment Type</th>
                    <th>City Tax</th>
                    <th>State Tax</th>
                    <th>Federal Tax</th>
                </thead>
            </table>
        </div>


        <div class="panel_container">
            <form action="" class="earning_input">
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
                
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
            </form>
        </div>


        <div class="panel_container">
            <table class="variable_expenses">
                <thead>     
                    <th>Due Date</th>
                    <th>Payment Amount</th>
                    <th>Date Started</th>
                    <th>Payment Type</th>
                    <th>City Tax</th>
                    <th>State Tax</th>
                    <th>Federal Tax</th>
                </thead>
            </table>
        </div>


        <div class="panel_container">
            <form action="" class="earning_input">
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
                
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
            </form>
        </div>


        <div class="panel_container">
            <table class="transportation_table">
                    <thead>
                    <th>Date</th>
                    <th>Vehicle Type</th>
                    <th>Depart Date</th>
                    <th>Return Date</th>
                    <th>Mile Coverage</th>
                    <th>Notes</th>
                    </thead>
            </table>
        </div>


        <div class="panel_container">
            <form action="" class="earning_input">
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>

                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
                
                <div class="input_container">
                    <label for=""></label>
                    <input type="text">
                </div>
            </form>
        </div>
            <!--
                Dropdown with Following 
                Insert, Show, Delete, Update
                Earnings
                    date
                    amount_earned
                    payment_type
                    city_taxes
                    states_taxes
                    federal_taxes
                    user_id
                    ca
                    ua
                    <form action='/process'>
                <table>
                    <thead>
                        <th>Date</th>
                        <th>Earned</th>
                        <th>Payment Type</th>
                        <th>City Tax</th>
                        <th>State Tax</th>
                        <th>Federal Tax</th>
                        <th>Edit</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td> <a href="/delete/">Delete</a></td>    
                        </tr>
                    </tbody>
                </table>
                Assets
                    date
                    name
                    category
                    location
                    warranty
                    unit_value
                    qty
                    value
                    model
                    serial_num
                    user_id
                    ca
                    ua
                Reciepts
                    date
                    amt_paid
                    payment_type
                    items
                    city_taxes
                    state_taxes
                    federal_taxes
                    trans_id
                    business_name
                    business_poc
                    business_address
                    user_id
                    created_at
                    updated_at
                Liabilities
                    date_acquired
                    name
                    catergory
                    location
                    warranty
                    unit_value
                    qty
                    value
                    model
                    serial_num
                    user_id
                    ca
                    ua
                Fixed Expenses
                    due_date
                    payment_amy
                    date_start
                    payment_type
                    city_taxes
                    state_taxes
                    federal_taxes
                    user_id
                    ca
                    ua
                Variable Expenses
                    due_date
                    payment_amt
                    date_start
                    payment_type
                    city_taxes
                    state_taxes
                    federal_taxes
                    user_id
                    ca
                    ua
                Transportation
                    date
                    vahicle_type
                    depart_date
                    return_date
                    mile_coverage
                    notes
                    user_id
                    ca
                    ua
            
            -->
        </div>
    </div>
    
</body>
</html>