<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Top Peaks Development</title>
    <link rel="stylesheet" href="/static/login_css.css">
</head>
<body>
    <div class="login-container">
        <form action="/login-top-peaks-development-2022" method="post">
            <div class="input-container">
                <label for="username">Username:</label>
                <input name="username" type="text">
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input name="password" type="password">
            </div>
            <input class="submitBtn" type="submit" value="Login">
        </form>
        <form action="/New-User-Register" method="post">
            <input class="registerBtn" type="submit" value="Register">
        </form>
    </div>



<article class="wrapper">
    <h2 class="title">Pattern Animation</h2>
  </article>
  
  
</body>
</html>